.documents {
    margin: 0;
}
.documents > li {
    border-bottom: 2px dotted #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.btn-toolbar {
    display: block;
    text-align: right;
}
.doc-category {
  color: green;
  margin-bottom: 15px;
  display: inline-block;
}
.doc-customer {
    color: green;
    margin-bottom: 15px;
    display: inline-block;
}
.doc-name {
    line-height: 1.4;
    max-width: 350px;
}

.button-file-upload {
    padding: 12px 30px 9px;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
}  
.button-file-upload:hover {
    background-color: green;
    color: #fff;
}  
.button-file-upload-active {
    background-color: green;
    color: #fff;
}

.doc-actions {
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
  
.doc-link {
    cursor: pointer;
    line-height: 1.1;
    text-decoration: none;
    font-size: 1.1em;
    transition: color .26s ease-in-out;
    padding: 1px 0 1px 0;
    margin: 0 15px 0 0;  
    color: blue;
    /* text-decoration: underline;   */
}

/* .dropzone > div {
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
    border-style: solid !important;
    border-width: 1px !important;

    padding: 12px 30px 9px !important;
    box-sizing: border-box !important;
    background-color: #ccc !important;
    border-radius: 4px !important;
    cursor: pointer !important;

} */

.dropzone p {
    /* display: none; */
    margin: 0
} 
  